{{#each posts}}
  <div class='post card mb-3'>
    <div class='card-body'>
      <h2 class='card-title'>{{title}}</h2>
      <p class='card-text'>{{body}}</p>
      <button
        class='btn btn-warning editPostButton'
        data-id='{{id}}'
        data-bs-toggle='modal'
        data-bs-target='#modal{{id}}'
      >Edit</button>
      <div
        class='modal fade'
        id='modal{{id}}'
        tabindex='-1'
        aria-labelledby='exampleModalLabel'
        aria-hidden='true'
      >
        <div class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h1 class='modal-title fs-5' id='exampleModalLabel'>Edit post</h1>
              <button
                type='button'
                class='btn-close'
                data-bs-dismiss='modal'
                aria-label='Close'
              ></button>
            </div>
            <div class='modal-body'>
              <form class='change-form'>
                <div class='mb-3'>
                  <label for='title' class='form-label'>Title:</label>
                  <input
                    id='title-input'
                    type='text'
                    class='form-control'
                    placeholder='Name'
                    value='{{title}}'
                    data-id='{{id}}'
                  />
                </div>
                <div class='mb-3'>
                  <label for='main' class='form-label'>Main text:</label>
                  <input
                    id='main-input'
                    type='text'
                    class='form-control'
                    placeholder='Name'
                    value='{{body}}'
                    data-id='{{id}}'
                  />
                </div>
                <div class='modal-footer'>
                  <button
                    type='button'
                    class='btn btn-secondary'
                    data-bs-dismiss='modal'
                  >Close</button>
                  <button
                    type='button'
                    data-id='{{id}}'
                    class='btn btn-primary save-btn'
                  >Save changes</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <button
        class='btn btn-danger deletePostButton'
        data-id='{{id}}'
      >Delete</button>
    </div>
    <div class='commentsContainer card-footer' id='{{id}}' data-id='{{id}}'>
      <h3 class='h5'>Comments:</h3>
      <ul class='list-group mb-2'>
        {{#each comments}}
          <li class='list-group-item'>{{this}}</li>
        {{/each}}
      </ul>
      <form class='createCommentForm d-flex'>
        <input
          data-id='{{id}}'
          type='text'
          class='form-control commentInput me-2'
          placeholder='New comment'
          required
        />
        <button type='button' data-id='{{id}}' class='btn btn-success'>Add
          comment</button>
      </form>
    </div>
  </div>
{{/each}}